In [37]:
import pandas as pd
data = pd.read_csv("Chocolate Sales.csv")
data.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184

In [43]:
X = data.drop(['Sales Person', 'Boxes Shipped', 'Amount'], axis = 1)
Y = data.Amount

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_val, Y_train, Y_val = train_test_split(X,Y, random_state= 1)

In [45]:
s = (X_train.dtypes == 'object')
object_cols = list(s[s].index)

In [46]:
len(data)
object_cols

['Country', 'Product', 'Date']

In [49]:
from sklearn.preprocessing import OneHotEncoder
hot =  OneHotEncoder(handle_unknown='ignore', sparse_output=False)
OH_cols_train = pd.DataFrame(hot.fit_transform(X_train[object_cols]))
OH_cols_val = pd.DataFrame(hot.transform(X_val[object_cols]))

In [55]:
OH_cols_train.index = X_train.index
OH_cols_val.index = X_val.index

num_X_train = X_train.drop(object_cols, axis = 1)
num_X_val = X_val.drop(object_cols, axis = 1)