In [20]:
import pandas as pd
data = pd.read_csv('ecommerce_sales_data.csv')
data.head(2)

   Order Date Product Name     Category Region  Quantity  Sales  Profit
0  2024-12-31      Printer       Office  North         4   3640  348.93
1  2022-11-27        Mouse  Accessories   East         7   1197  106.53

In [21]:
data.columns

Index(['Order Date', 'Product Name', 'Category', 'Region', 'Quantity', 'Sales',
       'Profit'],
      dtype='object')

In [22]:
features = ['Order Date', 'Product Name', 'Category', 'Region', 'Quantity', 'Sales']
X = data[features]
Y = data.Profit

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, random_state = 1)
s = (X_train.dtypes == 'object')
obj_cols = list(s[s].index)

In [24]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
def score_data(X_train, X_test, Y_train, Y_test):
    model = RandomForestRegressor(random_state = 1)
    model.fit(X_train, Y_train)
    pred = model.predict(X_test)
    return mean_absolute_error(Y_test, pred)

In [25]:
from sklearn.preprocessing import OneHotEncoder
OH = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
OH_X_train = pd.DataFrame(OH.fit_transform(X_train[obj_cols]))
OH_X_test = pd.DataFrame(OH.transform(X_test[obj_cols]))
OH_X_train.index = X_train.index
OH_X_test.index = X_test.index

In [26]:
w_X_train = X_train.drop(obj_cols, axis = 1)
w_X_test = X_test.drop(obj_cols, axis = 1)

In [27]:
OH_X_train = pd.concat([OH_X_train, w_X_train], axis = 1)
OH_X_test = pd.concat([OH_X_test, w_X_test], axis=1)

In [28]:
OH_X_train.columns = OH_X_train.columns.astype('str')
OH_X_test.columns = OH_X_test.columns.astype('str')

In [32]:
mae = score_data(OH_X_train, OH_X_test, Y_train, Y_test)
score = Y.mean()
error = (score/mae) * 100

print(f"{mae}\n {score}\n {error}")

195.2523573714286
 527.0472028571428
 269.9312878740515