In [2]:
import pandas as pd
data = pd.read_csv('Engineering_graduate_salary.csv')
data.head(2)

,ID,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,604399,f,1990-10-22,87.8,cbse,2009,84.0,cbse,6920,1,...,-1,-1,-1,-1,-0.1590,0.3789,1.2396,0.1459,0.2889,445000
1,988334,m,1990-05-15,57.0,cbse,2010,64.5,cbse,6624,2,...,-1,-1,-1,-1,1.1336,0.0459,1.2396,0.5262,-0.2859,110000

In [3]:
data.columns

Index(['    ID', 'Gender', 'DOB', '10percentage', '10board', '12graduation',
       '12percentage', '12board', 'CollegeID', 'CollegeTier', 'Degree',
       'Specialization', 'collegeGPA', 'CollegeCityID', 'CollegeCityTier',
       'CollegeState', 'GraduationYear', 'English', 'Logical', 'Quant',
       'Domain', 'ComputerProgramming', 'ElectronicsAndSemicon',
       'ComputerScience', 'MechanicalEngg', 'ElectricalEngg', 'TelecomEngg',
       'CivilEngg', 'conscientiousness', 'agreeableness', 'extraversion',
       'nueroticism', 'openess_to_experience', 'Salary'],
      dtype='object')

In [4]:
features = ['    ID', 'Gender', 'DOB', '10percentage', '10board', '12graduation',
       '12percentage', '12board', 'CollegeID', 'CollegeTier', 'Degree',
       'Specialization', 'collegeGPA', 'CollegeCityID', 'CollegeCityTier',
       'CollegeState', 'GraduationYear', 'English', 'Logical', 'Quant',
       'Domain', 'ComputerProgramming', 'ElectronicsAndSemicon',
       'ComputerScience', 'MechanicalEngg', 'ElectricalEngg', 'TelecomEngg',
       'CivilEngg', 'conscientiousness', 'agreeableness', 'extraversion',
       'nueroticism', 'openess_to_experience']
Y = data.Salary
X = data[features]

In [5]:
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X, Y, train_size=0.8, test_size=0.2, random_state= 0)

In [6]:
categorical = [i for i in train_X.columns if train_X[i].nunique()<20 and train_X[i].dtype == 'object']
numerical = [i for i in train_X.columns if train_X[i].dtype in ['float64', 'int64']]

In [7]:
my_cols = categorical+numerical
X_train = train_X[my_cols].copy()
X_val = val_X[my_cols].copy()

In [8]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

numerical_transformer = SimpleImputer(strategy='constant')
categorical_transformer = Pipeline(steps=[
    ('imp', SimpleImputer(strategy='most_frequent')),
    ('hot', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(transformers=[
    ('num', numerical_transformer, numerical),
    ('cat', categorical_transformer, categorical)
])

In [9]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=50,random_state=0)

In [ ]:
from sklearn.metrics import mean_absolute_error
my_pipeline = Pipeline(steps=[
    ('pre', preprocessor),
    ('model', model)
])
my_pipeline.fit(X_train, train_y)
pred = my_pipeline.predict(val_X)

108643.8

In [16]:
wai = Y.mean()
mae = mean_absolute_error(val_y, pred)
error = (mae/wai)*100
print(f"avg: {wai}")
print(f"mae: {mae}")
print(f"error:{error}")

avg: 305174.7831887925
mae: 108643.8
error:35.60051681360215