In [1]:
import pandas as pd
data = pd.read_csv('Salary.csv')
data.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [4]:
X = data.YearsExperience
Y = data.Salary
X.head()

0    1.1
1    1.3
2    1.5
3    2.0
4    2.2
Name: YearsExperience, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_val, Y_train, Y_val = train_test_split(X,Y, random_state= 1)

In [3]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()